/* .rightbar{
    flex: 3.5;
    
} */
.followButton {
  background-color: black;
  color: aliceblue;
  border-radius: 5px;
  padding: 5px;
}
.friendsDetails {
  display: flex;
  justify-content: space-evenly;
  padding: 6px;
}

.rightBar {
  flex: 3.5;
  margin-top: 10px;
  position: sticky;
  align-items: flex-end;
  width: 350px;
  top: 50px;
  height: calc(110vh - 70px);
  overflow: scroll;
  background-color: rgb(255, 255, 255);
}
.rightBar::-webkit-scrollbar {
  display: none;
}

.container {
  padding: 20px;
  position: sticky;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  display: flow-root;
  justify-content: space-around;
  position: sticky;
  
  overflow-y: auto;
  max-height: 80vh;
  border: 2px solid rgb(239, 237, 237);

  -webkit-box-shadow: -2px 2px 49px -34px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px 2px 49px -34px rgba(0,0,0,0.75);
  box-shadow: -2px 2px 49px -34px rgba(0,0,0,0.75);
  padding: 20px;
  margin-bottom: 20px;
  background-color: themed("bg");
  border-radius: 35px;
  /* box-shadow: 10px 10px 5px rgb(90, 87, 87); */
  /* -moz-box-shadow: -3px -2px 30px 14px rgba(0,0,0,0.425);
         box-shadow: -4px -3px 45px 21px rgba(61, 61, 102, 0.35); */
}

.list::-webkit-scrollbar {
    display: none;
  }
  

.suggessions {
  color: gray;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;

}

.userInfo {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}

.rightbarPic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.online {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: limegreen;
  position: absolute;
  top: 0;
  left: 30px;
}

.pTag {
  color: rgb(44, 47, 43);
}

.buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.followButton {
  border: none;
  padding: 5px;
  color: white;
  cursor: pointer;
  border-radius: 15px;
  background-color: #047bd5;
}

.skipButton {
  border: none;
  padding: 5px;
  color: white;
  cursor: pointer;
  border-radius: 15px;
  background-color: #f0544f;
}
