.feed{
    flex:7;

}

.feedWrapper{
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 20px;
}
/* .feedWrapper{
padding: 20px;
} */

/* .postDiv {
    overflow: scroll;
    position: sticky;
    height: 100vh;
} */